.nav_container{
    display: flex;
    width: 80%;
    margin: 0px auto;
    gap: 2%;
    align-items: center;
    cursor: pointer;
    background-color: rgb(133, 185, 217);
    border-radius: 40px;
}
.image-profile{
    border-radius: 50%;
    /* width: 3.4%; */
    transform: scale(0.85);
}