.table_container{
 display: flex;
 justify-content: center;
 padding-top: 5%;
}
.table{
    width: 80%;
}
th{
    width: 10%;
    padding: 1%;
}
td{
    padding: 1%;
    text-align: center;
}
.model,.overlay{
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay{
    background-color: rgba(49,49,49,0.8);
}
.model_contain{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    background-color: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    padding: 2%;
}
body{
    background-image: linear-gradient(white,rgb(157, 211, 227));
    background-repeat: no-repeat;
    background-size: cover;
    height: 52vw;
}
.title{
    /* display: flex; */
    width: 80%;
    margin: 0px auto;
    /* gap: 2%; */
    align-items: center;
    /* cursor: pointer; */
    /* background-color: rgb(133, 185, 217); */
    /* border-radius: 40px; */
}